body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #337ab7;
    color: #fff;
}

.logo-container {
    margin-bottom: 10px;
}

.logo {
    width: 200px;
}

.title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.title-space {
    height: 10px; 
}

.subtitle {
    margin-bottom: 20px;
}

.content {
    text-align: center;
}

.file-input {
    margin-right: 10px;
}

.analyze-button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    text-align: center;
}

.free-message {
    font-size: 24px;
    color: #FF9900;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

